THANOS_STORE_DATA_DIR="--data-dir={{ thanos_store_data_dir }}"
THANOS_STORE_LOGGING="--log.level {{ thanos_store_log_level }}"
THANOS_STORE_CONFIG_FILE="--objstore.config-file {{ thanos_store_config_file }}"

{% if thanos_store_grpc_port is defined %}
THANOS_STORE_CLUSTER_GRPC="--grpc-address 0.0.0.0:{{ thanos_store_grpc_port }}"
{% endif %}
{% if thanos_store_http_port is defined %}
THANOS_STORE_CLUSTER_HTTP="--http-address 0.0.0.0:{{ thanos_store_http_port }}"
{% endif %}

{% if thanos_store_cluster_disabled is defined and thanos_store_cluster_disabled == True %}

THANOS_STORE_CLUSTER_DISABLED="--cluster.disable"

{% else %}
THANOS_STORE_CLUSTER_DISABLED="--no-cluster.disable"
{% if thanos_store_cluster_port is defined %}
THANOS_STORE_CLUSTER_ADDRESS="--cluster.address 0.0.0.0:{{ thanos_store_cluster_port }}"
{% endif %}
{% if thanos_cluster_peers_addr is defined %}
THANOS_STORE_CLUSTER_PEERS="--cluster.peers {{ thanos_cluster_peers_addr }}"
{% endif %}

{% endif %}

THANOS_STORE_ADDITIONAL_CONFIGS="--index-cache-size {{ thanos_store_index_cache_size }} --chunk-pool-size {{ thanos_store_chunk_pool_size }}"

{% if thanos_store_series_sample_limit is defined %}
THANOS_STORE_SAMPLE_LIMIT="--store.grpc.series-sample-limit {{ thanos_store_series_sample_limit  }}"
{% endif %}

{% if thanos_store_series_max_concurrency is defined %}
THANOS_STORE_CONCURRENCY_LIMIT="--store.grpc.series-max-concurrency {{ thanos_store_series_max_concurrency }}"
{% endif %}

