THANOS_DOWNSAMPLE_CONFIG_FILE="--objstore.config-file {{ thanos_downsample_config_file }}"
THANOS_DOWNSAMPLE_DATA_DIR="--data-dir {{ thanos_downsample_data_dir }}"
THANOS_DOWNSAMPLE_LOG_LEVEL="--log.level {{ thanos_downsample_log_level }}"
