[Unit]
Description=Thanos Compactor

[Service]
Type=simple

User=prometheus
Group=prometheus

EnvironmentFile=/etc/default/thanos-compactor
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=thanos-compactor
ExecStart=/usr/bin/thanos compact $THANOS_COMPACT_CONFIG_FILE $THANOS_COMPACT_HTTP $THANOS_COMPACT_LOGGING $THANOS_COMPACT_DATA_DIR $THANOS_COMPACT_RETENTION --wait
Restart=always
