[Unit]
Description=Thanos Compactor

[Service]
Type=simple

User=prometheus
Group=prometheus

EnvironmentFile=/etc/default/thanos-compactor
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=thanos-compactor
ExecStart=/usr/bin/thanos compact $THANOS_COMPACTOR_CONFIG_FILE \
  $THANOS_COMPACTOR_HTTP \
  $THANOS_COMPACTOR_LOGGING \
  $THANOS_COMPACTOR_DATA_DIR \
  $THANOS_COMPACTOR_RETENTION_RAW \
  $THANOS_COMPACTOR_RETENTION_FIVE_MINUTES \
  $THANOS_COMPACTOR_RETENTION_ONE_HOUR \
  $THANOS_COMPACTOR_TRACING_CONFIG_FILE \
  $THANOS_COMPACTOR_EXTRA_CMD_OPTS \
  --wait
Restart=always
LimitNOFILE=infinity
