[Unit]
Description=Thanos Query

[Service]
Type=simple

User=prometheus
Group=prometheus

EnvironmentFile=/etc/default/thanos-query
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=thanos-query
ExecStart=/usr/bin/thanos sidecar $THANOS_QUERY_BUCKET_CONFIG $THANOS_QUERY_CLUSTER_GRPC $THANOS_QUERY_CLUSTER_HTTP $THANOS_QUERY_CLUSTER_ADDRESS $THANOS_QUERY_CLUSTER_PEERS $THANOS_QUERY_PROMETHEUS_LOCATION $THANOS_QUERY_DATABASE_CONFIG $THANOS_QUERY_LOGGING $THANOS_QUERY_RELOADER_CONFIG $THANOS_QUERY_RELOADER_ENVFILE $THANOS_QUERY_REPLICA_LABEL

[Install]
WantedBy=multi-user.target
