[Unit]
Description=Thanos Store

[Service]
Type=simple

User=prometheus
Group=prometheus

EnvironmentFile=/etc/default/thanos-store
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=thanos-store
ExecStart=/usr/bin/thanos store $THANOS_STORE_CLUSTER_GRPC $THANOS_STORE_CLUSTER_HTTP $THANOS_STORE_CLUSTER_ADDRESS $THANOS_STORE_CLUSTER_PEERS $THANOS_STORE_DATA_DIR $THANOS_STORE_LOGGING $THANOS_STORE_CONFIG_FILE $THANOS_STORE_ADDITIONAL_CONFIGS $THANOS_STORE_CLUSTER_DISABLED $THANOS_STORE_CONCURRENCY_LIMIT $THANOS_STORE_SAMPLE_LIMIT $THANOS_STORE_TRACING_CONFIG_FILE $THANOS_STORE_EXTRA_CMD_OPTS
Restart=on-failure
RestartSec=10s
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
