THANOS_SIDECAR_BUCKET_CONFIG="--s3.bucket={{ thanos_s3_bucket_name }} --s3.endpoint={{ thanos_s3_endpoint }}"
THANOS_SIDECAR_PROMETHEUS_LOCATION="--prometheus.url={{ thanos_prometheus_url }}"
THANOS_SIDECAR_DATABASE_CONFIG="--tsdb.path={{ thanos_prometheus_data_dir }}"
THANOS_SIDECAR_LOGGING="--log.level {{ thanos_sidecar_log_level }}"

PROMETHEUS_HOSTNAME="prometheus-{{ inventory_hostname }}"

{% if thanos_sidecar_grpc_port is defined %}
THANOS_SIDECAR_CLUSTER_GRPC="--grpc-address 0.0.0.0:{{ thanos_sidecar_grpc_port }}"
{% endif %}
{% if thanos_sidecar_http_port is defined %}
THANOS_SIDECAR_CLUSTER_HTTP="--http-address 0.0.0.0:{{ thanos_sidecar_http_port }}"
{% endif %}
{% if thanos_sidecar_cluster_port is defined %}
THANOS_SIDECAR_CLUSTER_ADDRESS="--cluster.address 0.0.0.0:{{ thanos_sidecar_cluster_port }}"
{% endif %}
{% if thanos_cluster_peers_addr is defined %}
THANOS_SIDECAR_CLUSTER_PEERS="--cluster.peers {{ thanos_cluster_peers_addr }}"
{% endif %}

{% if thanos_prometheus_template_file is defined and thanos_prometheus_envsubst_file is defined and thanos_prometheus_rule_dir is defined %}
THANOS_SIDECAR_RELOADER_CONFIG="--reloader.config-file={{ thanos_prometheus_template_file }}"
THANOS_SIDECAR_RELOADER_ENVFILE="--reloader.config-envsubst-file={{ thanos_prometheus_envsubst_file }}"
THANOS_SIDECAR_RELOADER_RULEDIR="--reloader.rule-dir={{ thanos_prometheus_rule_dir }}"
{% endif %}
