[Unit]
Description=Thanos Sidecar

[Service]
Type=simple

User=prometheus
Group=prometheus

EnvironmentFile=/etc/default/thanos-sidecar
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=thanos-sidecar
ExecStart=/usr/bin/thanos sidecar $THANOS_SIDECAR_CONFIG_FILE $THANOS_SIDECAR_CLUSTER_GRPC $THANOS_SIDECAR_CLUSTER_HTTP $THANOS_SIDECAR_CLUSTER_ADDRESS $THANOS_SIDECAR_CLUSTER_PEERS $THANOS_SIDECAR_PROMETHEUS_LOCATION $THANOS_SIDECAR_DATABASE_CONFIG $THANOS_SIDECAR_LOGGING $THANOS_SIDECAR_RELOADER_CONFIG $THANOS_SIDECAR_RELOADER_ENVFILE $THANOS_SIDECAR_RELOADER_RULEDIR $THANOS_SIDECAR_CLUSTER_DISABLED
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
